title: Karamo Policy
description: Karamo アプリケーションの利用規約とプライバシーポリシー
baseurl: "/fittrack-policy"
url: "https://watwatlab.github.io"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/ 